{namespace app.template}

/** Used only to test seed project */
{template .Test}
  <div>
    <input id="url" type="text" placeholder="URL for swagger file" value="assets/example.json">
    <button>Generate</button>
  </div>
  <label>Output:</label>
  <pre id="output" style="border: 1px solid grey"></pre>
{/template}
